$color-1: hsl(219, 65%, 41%); // Cornflower Blue - Action color
$color-2: #17177a; // Dark Blue
$color-3: #4f64aa; // blue
$color-4: #1b6e8f; // blue
$color-5: #ffffff; // white

$header-border-color: red;
$summary-border-color: blue;
$preamble-border-color: green;
$sidebar-border-color: orange;
$main-border-color: yellow;