

@supports (display: grid){
  .page-wrapper {
    @include breakpoint(large){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
   
    grid-template-areas: "intro intro intro"
                          "sidebar main main";
                          .intro{
                            grid-area: intro;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-areas: "header header ."
                                                  "summary summary ."
                                                  ". preamble preamble";
                            &>header{
                              grid-area: header;
                              border: 1px solid red;
                              width: 100%;
                            }
                            &>.summary{
                              grid-area: summary;
                              border: 1px solid blue;
                              width: 100%;
                            }
                            &>.preamble{
                              grid-area: preamble;
                              border: 1px solid green;
                            }
                          }
                          .sidebar{
                            grid-area: sidebar;
                          }
                          .main{
                            grid-area: main;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-areas: "explanation participation"
                                                  "benefits requirements"
                                                  "footer footer";
                            &.explanation{
                              grid-area: explanation;
                            }
                            &.participation{
                              grid-area: participation;
                            }
                            &.benefits{
                              grid-area: benefits;
                            }
                            &.requirements{
                              grid-area: requirements;
                            }
                            &>footer{
                              grid-area: footer;
                              text-align: center;
                              & a:nth-child(1){
                                @include addIcon('../../assets/branding/html5.svg');
                                animation-delay: 1s;                                
                              }
                              & a:nth-child(2){
                                @include addIcon('../../assets/branding/css.svg');
                                animation-delay: 2s;                               
                              }
                              & a:nth-child(3){
                                @include addIcon('../../assets/branding/cc.svg');
                                animation-delay: 3s;                               
                              }
                              & a:nth-child(4){
                                @include addIcon('../../assets/branding/access.svg');
                                animation-delay: 4s;                               
                              }
                              & a:nth-child(5){
                                @include addIcon('../../assets/branding/github.svg');
                                animation-delay: 5s;                                
                              }
                            }
                          }


    }
    @include breakpoint(medium){
      display: grid;
      grid-template-columns: 1fr;
   
    grid-template-areas: "intro"
                        "main"
                        "sidebar";
   
    }
    @include breakpoint(small){
    display: grid;
    grid-template-columns: 1fr;
   
    grid-template-areas: "intro"
                        "main"
                        "sidebar";
                        .intro{
                          grid-area: intro;
                          display: grid;
                          grid-template-columns: 1fr;
                          grid-template-areas: "header"
                          "summary"
                          "preamble";
                          &>header{
                            grid-area: header;
                            border: 1px solid red;
                            width: 100%;
                          }
                          &>.summary{
                            grid-area: summary;
                            border: 1px solid blue;
                            width: 100%;
                          }
                          &>.preamble{
                            grid-area: preamble;
                            border: 1px solid green;
                          }
                        }
                        .sidebar{
                          grid-area: sidebar;
                        }
                        .main{
                          grid-area: main;
                          display: grid;
                          grid-template-columns: 1fr;
                          grid-template-areas: "explanation"
                          "participation"
                                                "benefits"
                                                "requirements"
                                                "footer";
                          &.explanation{
                            grid-area: explanation;
                          }
                          &.participation{
                            grid-area: participation;
                          }
                          &.benefits{
                            grid-area: benefits;
                          }
                          &.requirements{
                            grid-area: requirements;
                          }
                          &>footer{
                            grid-area: footer;
                            text-align: center;
                          }
                        }
  
    }
  }
  @keyframes mover{
    
    0%{
      transform:scale(0);
      }
    50%{
      transform:scale(1);
      }
    75%{
      transform:rotate(0deg);
      }
    100%{
      transform:rotate(360deg);
      }
  }
  .intro{
    grid-area: intro;
  }
  .main{
    grid-area: main;
  }
  .sidebar{
    grid-area: sidebar;
  }
}

