$break-small:360px;
$break-medium:800px;
$break-large:1500px;

@mixin breakpoint($break) {
    @if $break == large {
        @media (max-width: $break-large) { @content; }
    }
    @else if $break == medium {
        @media (max-width: $break-medium) { @content; }
    } @else {
        @media (max-width: $break-small) { @content; }
    }  
}         
@mixin addIcon($myicon){
    content:"";
    position:relative;
    color:red;
    display:inline-block;
    width:50px;
    height:50px;
    background:url($myicon);
    background-size:50px;
    text-indent:49px;
    overflow:hidden;
    animation: mover 1s ease-in-out;
}